/**
 * Declare some variables that we can re-use in other parts of our css
 */
button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e3e3e3; }

form input, form textarea {
  outline: none;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
